/*-- scss:defaults --*/

/*-- scss:rules --*/

/*-- Navbar --*/

.navbar {
    background-color: #118C4F;
}
a {
color: #118C4F; 

&:hover {
    color: #FFB90D; 
}
}

.navbar-title {
    color: white; 
}

/*-- sidebar --*/
.toc-active {
    color: #118C4F; 
  }

#TOC .nav-link {
    color: #118C4F; 
    
    &:hover {
      color: #FFB90D !important; 
    }
    &:active {
        color: #FFB90D !important;
      }
  }

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    color: #FFB90D !important; 

  }
